@font-face {
    font-family: 'Blizzard';
    src: url('font/Blizzard-Regular.eot');
    src: url('font/Blizzard-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Blizzard-Regular.woff2') format('woff2'),
        url('font/Blizzard-Regular.woff') format('woff'),
        url('font/Blizzard-Regular.ttf') format('truetype'),
        url('font/Blizzard-Regular.svg#Blizzard-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    /* Styles pour la boîte modale */
    margin: 5%;
    text-align: center;
    background-color: #190938;
    font-family: 'Blizzard';
    h2{
        color:#E3F3FF;
    }
    .filter {
        color: #E3F3FF;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        #random-button{
            width: 40px;
            height: 40px;
            background: transparent;
            background-image: url('../img/random.svg');
            background-size: cover; /* Pour ajuster la taille de l'image au bouton */
            border: none; /* Supprimez les bordures par défaut du bouton si nécessaire */
            cursor: pointer; /* Changez le curseur lorsque vous survolez le bouton */   
        }
        .role{
            // Add styles for hidden radio input
            label {
                position: relative;
                cursor: pointer;

                input[type="radio"].genre-filter {
                    position: absolute;
                    left: -9999px;
                }

                input[type="radio"].role-filter {
                    position: absolute;
                    left: -9999px;
                }

                /* Styles for the checked genre radio buttons */
                input[type="radio"].genre-filter:checked + svg {
                    fill: white; /* Change the SVG fill color to white */
                }

                /* Styles for the checked role radio buttons */
                input[type="radio"].role-filter:checked + svg {
                    fill: white; /* Change the SVG fill color to white */
                }

                svg{
                    fill: darkslategrey ;
                }
            }
        }
        .genre{
            // Add styles for hidden radio input
            label {
                position: relative;
                cursor: pointer;

                input[type="radio"].genre-filter {
                    position: absolute;
                    left: -9999px;
                }

                input[type="radio"].role-filter {
                    position: absolute;
                    left: -9999px;
                }

                /* Styles for the checked genre radio buttons */
                input[type="radio"].genre-filter:checked + svg {
                    fill: white; /* Change the SVG fill color to white */
                }

                /* Styles for the checked role radio buttons */
                input[type="radio"].role-filter:checked + svg {
                    fill: white; /* Change the SVG fill color to white */
                }

                svg{
                    fill: darkslategrey ;
                }
            }
        }   
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80vw; // Adjust this as needed
        height: 50vh; // Adjust this as needed
        overflow: auto;

        .modal-content {
            background-image: url("../img/bg.jpg");
            margin: 5% auto;
            padding: 20px;
            border: 5px outset #94B9F0;
            width: 60%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            .hero-details{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                #random-hero-name{
                    color:#E3F3FF;
                    font-size: 30px;
                    padding: 1%;
                    margin: 0;
                    text-align: center;
                }
                #random-hero-image{
                    border: 5px outset #94B9F0;
                    border-radius: 50%;
                    margin: 0%;
                }
                #random-hero-universe{
                    padding: 1%;
                    margin: 0;
                    color:#E3F3FF;
                }
                #random-hero-roles{
                    padding: 1%;
                    margin: 0;
                    color:#E3F3FF;
                }
            }
            .close {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;

                &:hover {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
    .pool{
        display: flex;
        flex-wrap: wrap;
        grid-gap: 2%;
        padding: 3%;
        color:#E3F3FF;
        align-items: center;
        justify-content: center;
        .heros{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 5px;
            justify-content: space-between;
            border: 5px outset #94B9F0;
            background-color: #362D5D;
            h2{
                text-align: center;
                font-size: medium;
            }
            .category{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 5px;
            }
            img{
                width: 80%;
                margin: 0%;
            }
        }
    }

}
